In [123]:
import pandas as pd
trip_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
trip_df = trip_data.copy()

In [124]:
print(trip_df['starttime'].count() - trip_df['start station id'].count())

169

In [125]:
trip_df['start station id'].value_counts()

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: start station id, Length: 759, dtype: int64

In [126]:
trip_df['bikeid'].value_counts()

33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: bikeid, Length: 10004, dtype: int64

In [127]:
trip_df['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [128]:
trip_df['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [129]:
print(len(trip_df['start station id'].unique()))
print(len(trip_df['end station id'].unique()))

760
766

In [130]:
min(pd.to_datetime(trip_df['starttime']).dt.year - trip_df['birth year'])

16

In [131]:
trip_df['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [132]:
trip_df['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [133]:
trip_df = trip_df.drop(['start station name','end station name'], axis=1)

In [134]:
trip_df['age'] = 2018 - trip_df['birth year']   # добавляем возраст
trip_df = trip_df.drop('birth year', axis=1)    # убираем год рождения

In [135]:
trip_df[trip_df['age']>60]['age']    # сколько поездок клиентами старше 60 лет

53         63
373        68
405        61
435        63
457       118
         ...
299882     64
299883     70
299946     71
299957     76
299990     66
Name: age, Length: 11837, dtype: int64

In [136]:
trip_df['trip duration'] = (pd.to_datetime(trip_df['stoptime']) - pd.to_datetime(trip_df['starttime'])).dt.seconds
            # добавляем столбец времени поездки (сек.)

In [137]:
trip_df['trip duration'].mean()

999.9145033333333

In [138]:
trip_df['weekend'] = pd.to_datetime(trip_df['starttime']).dt.dayofweek   # создаем столбец дня недели
trip_df['weekend'] = trip_df['weekend'].apply(lambda x: 1 if x==5 or x==6 else 0)    # ставим 1, если выходные

In [139]:
trip_df['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

In [140]:
trip_df['time_of_day'] = pd.to_datetime(trip_df['starttime']).dt.hour   # создаем столбец времени суток
trip_df['time_of_day'] = trip_df['time_of_day'].apply(lambda x: 'night' if 0<=x<=6 else 'morning' if 6<x<=12 else 'day' if 12<x<=18 else 'evening' if 18<x<=23 else x)

In [150]:
round(len(trip_df[trip_df['time_of_day']=='day']) / len(trip_df[trip_df['time_of_day']=='night']))

9

In [143]:
trip_df

,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration,weekend,time_of_day
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,40.732264,-73.998522,366.0,40.693261,-73.968896,25577,Subscriber,1,38,1635,1,night
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,40.693830,-73.990539,3242.0,40.691029,-73.991834,34377,Subscriber,0,49,132,1,night
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,40.761227,-73.960940,3384.0,40.678724,-73.995991,30496,Subscriber,1,43,3337,1,night
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,40.713079,-73.998512,3690.0,40.713342,-74.009355,28866,Subscriber,2,34,436,1,night
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,40.736494,-73.997044,380.0,40.734011,-74.002939,20943,Customer,1,24,8457,1,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,40.747348,-73.997236,448.0,40.756604,-73.997901,19531,Subscriber,2,28,443,0,evening
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,40.720368,-73.961651,3086.0,40.715143,-73.944507,34020,Subscriber,1,36,693,0,evening
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,40.739448,-74.005070,168.0,40.739713,-73.994564,33220,Subscriber,1,27,312,0,evening
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,40.735324,-73.998004,499.0,40.769155,-73.981918,34744,Subscriber,0,43,3360,0,evening
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,40.792327,-73.938300,3502.0,40.795412,-73.944123,18292,Subscriber,1,52,225,0,evening