In [379]:
import pandas as pd
import os

In [380]:

def concat_users_files(path):
    """
    Вам необходимо написать функцию concat_user_files(path), параметром которой является path - путь до директории. 
    Функция должна объединить информацию из предоставленных вам файлов в один DataFrame и вернуть его. 
    Не забудьте обновить индексы результирующей таблицы после объединения.
    Учтите тот момент, что в результате объединения могут возникнуть дубликаты, от которых необходимо будет избавиться. 
    """
    list_file = sorted(os.listdir(path))
    full_data = None
    for file in list_file:
        path_file = path + file
        if full_data is None:
            full_data = pd.read_csv(path_file)
        else:
            full_data = pd.concat([full_data, pd.read_csv(path_file)], ignore_index=True)
    full_data = full_data.drop_duplicates()
    return full_data

In [381]:
if __name__ == '__main__':
    data = concat_users_files('data/12_6/')
    print(data)

  user_id                         image_url
0   id001  http://example.com/img/id001.png
1   id002  http://example.com/img/id002.jpg
2   id003  http://example.com/img/id003.bmp
3   id004  http://example.com/img/id004.jpg
4   id005  http://example.com/img/id005.png
5   id006  http://example.com/img/id006.png
6   id007  http://example.com/img/id007.png
7   id008  http://example.com/img/id008.png

In [382]:
ratings_movies = pd.read_csv('data/ratings_movies.csv')
ratings_movies

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [383]:
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [384]:
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)
ratings_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

In [385]:
ratings_movies

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0
...,...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller,2017.0
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017.0
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror,2017.0
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi,2017.0
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017.0

In [386]:
a = ratings_movies[ratings_movies['year_release']==1999].groupby(by='title').mean()
a[a['rating']==min(a['rating'])]

,Unnamed: 0,userId,movieId,rating,year_release
title,,,,,
Bloodsport: The Dark Kumite (1999),100797.0,610.0,145951.0,0.5,1999.0

In [387]:
b = ratings_movies[ratings_movies['year_release']==2010].groupby(by='genres').mean()
b
b[b['rating']==min(b['rating'])]

               Unnamed: 0  userId   movieId  rating  year_release
genres
Action|Sci-Fi     30179.0   210.0  189547.0     1.0        2010.0

In [388]:
ratings_movies.groupby('userId')['genres'].nunique().sort_values(ascending=False)

userId
599    524
414    482
448    403
380    399
474    395
      ...
578     15
12      15
85      13
214     13
245     13
Name: genres, Length: 610, dtype: int64

In [389]:
ratings_movies.groupby('userId')['rating'].agg(
    ['count','mean']
    ).sort_values(by=['count', 'mean'], ascending=[True,False])

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

In [390]:
ratings_movies[ratings_movies['year_release']==2018].groupby('genres')['rating'].agg(
    ['mean','count']
    ).sort_values(by=['mean','count'], ascending=[False,False]
                  )[d['count']>10]

                             mean  count
genres
Action|Adventure|Sci-Fi  3.928571     14
Action|Comedy|Sci-Fi     3.875000     12

In [391]:
ratings_movies['year_rating'] = pd.to_datetime(ratings_movies['date']).dt.year

In [392]:
r_sv = ratings_movies.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres'
)

In [393]:
r_sv['Action|Adventure'].sort_values()

year_rating
2003    3.277778
2018    3.397436
2005    3.413043
2010    3.437500
1996    3.454545
2001    3.500000
2017    3.527778
2015    3.560976
2008    3.656250
2007    3.666667
2009    3.714286
2016    3.722222
2000    3.738462
2013    3.833333
2014    3.875000
2011    3.888889
2012    3.900000
1999    4.000000
2006    4.090909
2004    4.136364
1997    4.150000
1998    4.200000
2002    4.304348
Name: Action|Adventure, dtype: float64

In [394]:
r_sv['Action|Adventure|Animation|Children|Comedy|IMAX'].sort_values()

year_rating
2017    1.000000
2009    3.250000
2015    3.375000
2010    3.500000
2014    3.500000
2012    3.550000
2016    3.666667
2018    3.700000
2013    5.000000
1996         NaN
1997         NaN
1998         NaN
1999         NaN
2000         NaN
2001         NaN
2002         NaN
2003         NaN
2004         NaN
2005         NaN
2006         NaN
2007         NaN
2008         NaN
2011         NaN
Name: Action|Adventure|Animation|Children|Comedy|IMAX, dtype: float64

In [395]:
r2_sv = ratings_movies.pivot_table(
    values='rating',
    index='genres',
    columns='year_rating'
)
r2_sv[2018].sort_values(ascending=False).head(30)

genres
Animation|Comedy|Drama                            5.00
Crime|Mystery                                     5.00
Comedy|Crime|Fantasy                              5.00
Crime|Fantasy|Horror                              5.00
Comedy|Crime|Horror|Thriller                      5.00
Animation|Crime|Drama                             5.00
Drama|Romance|War                                 5.00
Action|Comedy|Documentary                         5.00
Animation|Comedy|Fantasy|Musical                  5.00
Animation|Comedy|Drama|Fantasy|Sci-Fi             5.00
Comedy|Drama|Fantasy|Mystery|Romance              5.00
Animation|Children|Mystery                        5.00
Drama|Horror|Mystery|Sci-Fi|Thriller              5.00
Adventure|Children|Comedy|Fantasy|Mystery         5.00
Comedy|Fantasy|Horror|Musical|Thriller            5.00
Romance|Sci-Fi                                    5.00
Mystery|Romance|Sci-Fi|Thriller                   5.00
Adventure|Fantasy|Musical                         5.00
Action|Crime|Thriller|Western                     5.00
Action|Crime|Sci-Fi|Thriller                      5.00
Comedy|Horror|Mystery                             5.00
Drama|Fantasy|Romance|Sci-Fi                      4.75
Comedy|Drama|Mystery                              4.75
Comedy|Drama|Horror                               4.75
Action|Adventure|War                              4.50
Adventure|Animation|Fantasy|Romance               4.50
Comedy|Romance|Thriller                           4.50
Adventure|Animation|Romance                       4.50
Action|Adventure|Mystery|Romance|Thriller         4.50
Action|Adventure|Comedy|Drama|Fantasy|Thriller    4.50
Name: 2018, dtype: float64

In [396]:
r_sv['Comedy']

year_rating
1996    3.228571
1997    3.409091
1998    3.000000
1999    3.606061
2000    3.141291
2001    3.318408
2002    3.198556
2003    3.120066
2004    3.356877
2005    2.963325
2006    3.347534
2007    2.928187
2008    3.426667
2009    3.273292
2010    3.179825
2011    3.232877
2012    3.478477
2013    3.489474
2014    3.271429
2015    3.106183
2016    3.373431
2017    2.852668
2018    3.121296
Name: Comedy, dtype: float64

In [397]:
orders_db = pd.read_csv('data/orders.csv', sep=';')
products_db = pd.read_csv('data/products.csv', sep=';')

In [398]:
orders_db

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1

In [399]:
products_db

    Product_ID                                   Name  Price CURRENCY
0           47                   Шатны Полосатый рейс   2999      RUR
1           51               Платье Аленький цветочек   4999      RUR
2           53                 Штаны Цветочная Поляна   4999      RUR
3           71                    Платье Ночная Жизнь   7999      RUR
4           74               Платье Ночная Жизнь XXXL   8999      RUR
5           86                     Носки Простые, муж     45      RUR
6           91                     Носки Честные, муж     50      RUR
7          103                  Носки Подарочные, муж    199      RUR
8          104                  Носки Подарочные, жен    249      RUR
9          124                   Носки беговые Camino    999      RUR
10         137              Гольфы детские Снегурочка     99      RUR
11         138               Гольфы детские Питер Пен     99      RUR
12         139                       Сумка для носков    500      RUR
13         140  Товар, которому не придумано название      1      RUR

In [400]:
orders_prodicts = orders_db.merge(
    products_db,
    how='left',
    left_on='ID товара',
    right_on='Product_ID'
)
# orders_prodicts['Product_ID'] = orders_prodicts['Product_ID'].astype('int64')

In [401]:
orders_prodicts

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86.0,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,104.0,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,104.0,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,104.0,"Носки Подарочные, жен",249.0,RUR
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,124.0,Носки беговые Camino,999.0,RUR
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,91.0,"Носки Честные, муж",50.0,RUR
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,103.0,"Носки Подарочные, муж",199.0,RUR
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,104.0,"Носки Подарочные, жен",249.0,RUR
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,74.0,Платье Ночная Жизнь XXXL,8999.0,RUR
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,53.0,Штаны Цветочная Поляна,4999.0,RUR
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,137.0,Гольфы детские Снегурочка,99.0,RUR
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,47.0,Шатны Полосатый рейс,2999.0,RUR
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,71.0,Платье Ночная Жизнь,7999.0,RUR
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,86.0,"Носки Простые, муж",45.0,RUR
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,51.0,Платье Аленький цветочек,4999.0,RUR
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN

In [410]:
sales = orders_prodicts[orders_prodicts['Оплачен']=='Да']
sales['Оплачено'] = sales['Количество'] * sales['Price']
sales.groupby('ID Покупателя')['Оплачено'].sum()

C:\Users\Женя\AppData\Local\Temp\ipykernel_32728\3604067190.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['Оплачено'] = sales['Количество'] * sales['Price']

ID Покупателя
1        0.0
5    13043.0
7    17096.0
8     1344.0
Name: Оплачено, dtype: float64