In [2]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')
# melb_df.head()

In [3]:
# melb_df.info()

In [4]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
pd.value_counts(melb_df['Date'].dt.quarter)     # продажи по кварталам

3    4873
2    4359
4    2329
1    2019
Name: Date, dtype: int64

In [5]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
# melb_df.info()

In [6]:
melb_df.sort_values(by='Price').head(10)    # сортировка по столбцу цены

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
2652,Footscray,1,unit,85000.0,PI,Burnham,2016-03-09,6.4,3011,1,...,144.89000,Western Metropolitan,7570,42.000000,1.000000,3,9,2,St,0
1805,other,4,house,131000.0,PI,other,2017-02-25,8.9,3162,4,...,145.02420,Southern Metropolitan,2379,17.222222,-0.525994,2,97,5,St,1
7303,Albion,1,unit,145000.0,PI,Biggin,2016-05-28,13.9,3020,2,...,144.82660,Western Metropolitan,2185,31.500000,0.555556,5,46,5,St,1
1927,Coburg,4,house,145000.0,PI,Jellis,2016-04-06,7.8,3058,3,...,144.96580,Northern Metropolitan,11204,20.500000,-0.531429,4,106,2,Rd,0
7940,Hawthorn,1,unit,160000.0,VB,HAR,2017-08-04,4.6,3122,1,...,145.03730,Southern Metropolitan,11308,42.000000,-0.437500,8,8,4,St,0
12666,Brunswick,1,unit,170000.0,VB,Nelson,2017-09-16,5.2,3056,1,...,144.95188,Northern Metropolitan,11918,42.000000,-0.816860,9,47,5,St,1
8811,Footscray,1,unit,170000.0,PI,Burnham,2017-01-07,5.1,3011,1,...,144.89587,Western Metropolitan,7570,8.666667,-0.071429,1,4,5,St,1
8504,West Footscray,1,unit,185000.0,PI,Jas,2017-04-29,8.2,3012,1,...,144.86720,Western Metropolitan,5058,42.000000,1.000000,4,47,5,St,1
7293,Albion,1,unit,185000.0,S,hockingstuart,2016-08-22,13.9,3020,1,...,144.82720,Western Metropolitan,2185,14.333333,-0.964017,8,41,0,Rd,0
7305,Albion,2,unit,190000.0,SP,Burnham,2016-07-30,13.9,3020,2,...,144.82390,Western Metropolitan,2185,25.200000,1.000000,7,46,5,St,1

In [7]:
melb_df.sort_values(by='Date', ascending=False)      # сортировка по датам по убыванию

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
11144,Northcote,4,house,1955000.0,SP,McGrath,2017-12-08,5.3,3070,4,...,144.99375,Northern Metropolitan,11364,12.600000,0.923664,12,47,4,St,0
11217,Surrey Hills,3,house,1775000.0,PI,Jellis,2017-12-08,10.2,3127,3,...,145.08968,Southern Metropolitan,5457,15.750000,-0.721854,12,47,4,Rd,0
11206,St Kilda,4,house,1600000.0,VB,Gary,2017-12-08,5.0,3182,4,...,144.98324,Southern Metropolitan,13240,16.000000,-0.586028,12,107,4,St,0
11207,Strathmore,7,house,2000000.0,SP,Nelson,2017-12-08,8.2,3041,7,...,144.90587,Western Metropolitan,3284,20.882353,-0.262721,12,18,4,Rd,0
11208,Strathmore,4,house,1610000.0,S,other,2017-12-08,8.2,3041,4,...,144.92243,Western Metropolitan,3284,24.909091,-0.517181,12,62,4,St,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1555,Camberwell,4,house,2650000.0,S,Jellis,2016-03-09,7.8,3124,4,...,145.06860,Southern Metropolitan,8920,18.900000,-0.550535,3,126,2,Rd,0
4510,Oak Park,3,house,892000.0,S,Nelson,2016-03-09,11.5,3046,3,...,144.91740,Northern Metropolitan,2651,18.000000,-0.714609,3,46,2,St,0
4388,Northcote,3,house,1200000.0,S,Nelson,2016-03-09,5.5,3070,3,...,144.99090,Northern Metropolitan,11364,17.857143,-0.264706,3,96,2,St,0
6184,Surrey Hills,3,house,1205000.0,S,Fletchers,2016-01-28,11.2,3127,3,...,145.10060,Southern Metropolitan,5457,18.000000,-0.590909,1,46,3,Rd,0
6183,Surrey Hills,2,unit,813000.0,S,Fletchers,2016-01-28,11.2,3127,2,...,145.10230,Southern Metropolitan,5457,25.200000,0.076923,1,46,3,Rd,0

In [8]:
melb_df.sort_values(by=['Distance', 'Price']).loc[::10, ['Distance', 'Price']]     # сортировка по двум столбцам

       Distance      Price
11428       0.0   387000.0
10512       0.7   600000.0
5727        1.2   485000.0
8671        1.2   595000.0
5736        1.2   740000.0
...         ...        ...
12011      38.0   680000.0
10673      38.0   810000.0
13429      38.0  1155000.0
11102      41.0   650000.0
12728      45.9   650000.0

[1358 rows x 2 columns]

In [9]:
mask1 = melb_df['AreaRatio'] < -0.8             # сортировка с фильтрами
mask2 = melb_df['Type'] == 'townhouse'
mask3 = melb_df['SellerG'] == 'McGrath'
melb_df[mask1 & mask2 & mask3].sort_values(
    by=['Date', 'AreaRatio'],
    ascending=[True, False],
    ignore_index=True
).loc[:, ['Date', 'AreaRatio']]

        Date  AreaRatio
0 2016-07-26  -0.974922
1 2016-09-24  -0.971831
2 2016-11-27  -0.953608
3 2016-12-11  -0.945946
4 2017-08-04  -0.947368
5 2017-08-04  -0.970874

In [10]:
melb_df.sort_values(by='AreaRatio', ascending=False, ignore_index=True).loc[1558,'BuildingArea']

126.0

In [11]:
melb_df[(melb_df['Type']=='townhouse') & (melb_df['Rooms']>2)].sort_values(
    by=['Rooms','MeanRoomsSquare'],
    ascending=[True, False],
    ignore_index=True).loc[18,'Price']

1300000.0

In [14]:
melb_df.groupby(by='Type').mean()     # вычисление по группировке типа постройки

,Rooms,Price,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,Lattitude,Longtitude,Propertycount,MeanRoomsSquare,AreaRatio,AgeBuilding
Type,,,,,,,,,,,,,,,
house,3.260874,1.242665e+06,10.979479,3104.080643,3.229336,1.613822,1.772674,617.181924,152.162553,-37.803795,144.994700,7259.025505,18.996731,-0.490031,55.669700
townhouse,2.837522,9.337351e+05,9.851346,3100.777379,2.814183,1.809695,1.555655,279.606822,134.649710,-37.815782,144.996489,7094.459605,18.569847,-0.094916,26.690305
unit,1.963871,6.051275e+05,7.607391,3110.797481,1.966523,1.183295,1.128936,477.314219,102.235863,-37.823710,144.996363,8199.280080,21.068242,0.319883,39.703016

In [16]:
melb_df.groupby('Type')['Price'].mean()     # средние цены по группам типа постройки

Type
house        1.242665e+06
townhouse    9.337351e+05
unit         6.051275e+05
Name: Price, dtype: float64

In [20]:
melb_df.groupby('Regionname')['Distance'].min().sort_values(ascending=False)   # какие регионы наиболее удалены от центра

Regionname
Western Victoria              29.8
Eastern Victoria              25.2
Northern Victoria             21.8
South-Eastern Metropolitan    14.7
Eastern Metropolitan           7.8
Western Metropolitan           4.3
Southern Metropolitan          0.7
Northern Metropolitan          0.0
Name: Distance, dtype: float64

In [23]:
melb_df.groupby('MonthSale')['Price'].agg(    # группировка по месяцам, расчёт по группам сразу нескольких показателей (из списка)
    ['count', 'mean', 'min', 'max']
).sort_values(by='count', ascending=False)

           count          mean       min        max
MonthSale
8           1850  1.056371e+06  160000.0  6500000.0
7           1835  9.314698e+05  190000.0  9000000.0
5           1644  1.097807e+06  145000.0  8000000.0
6           1469  1.068981e+06  222000.0  7650000.0
3           1408  1.146762e+06   85000.0  5600000.0
4           1246  1.050479e+06  145000.0  5500000.0
9           1188  1.126349e+06  170000.0  6400000.0
10           854  1.135970e+06  250000.0  6250000.0
11           750  1.142503e+06  240000.0  5050000.0
12           725  1.144737e+06  250000.0  5700000.0
2            333  1.169051e+06  131000.0  4735000.0
1            278  9.397921e+05  170000.0  5200000.0

In [25]:
melb_df.groupby('MonthSale')['Price'].agg('describe')     # расчёт всех основных стат.характ. по каждой группе

,count,mean,std,min,25%,50%,75%,max
MonthSale,,,,,,,,
1,278.0,9.397921e+05,577668.924214,170000.0,570500.0,795000.0,1111250.0,5200000.0
2,333.0,1.169051e+06,671564.357417,131000.0,710000.0,1020000.0,1478000.0,4735000.0
3,1408.0,1.146762e+06,709573.596867,85000.0,680000.0,945000.0,1400000.0,5600000.0
4,1246.0,1.050479e+06,591892.902979,145000.0,655000.0,905500.0,1298750.0,5500000.0
5,1644.0,1.097807e+06,668492.867996,145000.0,650000.0,905000.0,1371250.0,8000000.0
6,1469.0,1.068981e+06,606010.069052,222000.0,660000.0,900000.0,1325000.0,7650000.0
7,1835.0,9.314698e+05,537390.803161,190000.0,586750.0,800000.0,1150000.0,9000000.0
8,1850.0,1.056371e+06,619617.476541,160000.0,635000.0,892000.0,1310000.0,6500000.0
9,1188.0,1.126349e+06,608734.690742,170000.0,725000.0,980000.0,1360000.0,6400000.0
10,854.0,1.135970e+06,692950.251627,250000.0,652625.0,950000.0,1416500.0,6250000.0
11,750.0,1.142503e+06,703666.227892,240000.0,671750.0,950000.0,1399125.0,5050000.0
12,725.0,1.144737e+06,706549.007161,250000.0,667500.0,938000.0,1412000.0,5700000.0

In [27]:
melb_df.groupby('Regionname')['SellerG'].agg(['nunique', set])   # сколько и какие агенства недвижимости работают в регионе

,nunique,set
Regionname,,
Eastern Metropolitan,26,"{Purplebricks, Ray, Love, Philip, Stockdale, F..."
Eastern Victoria,11,"{other, HAR, McGrath, Eview, Barry, C21, Ray, ..."
Northern Metropolitan,40,"{Sweeney, Purplebricks, Cayzer, Love, Ray, Phi..."
Northern Victoria,11,"{other, HAR, Buckingham, McGrath, Barry, Raine..."
South-Eastern Metropolitan,25,"{Purplebricks, Ray, O'Brien, Fletchers, Stockd..."
Southern Metropolitan,38,"{Purplebricks, Cayzer, Ray, Philip, O'Brien, F..."
Western Metropolitan,34,"{Bells, Sweeney, Purplebricks, Ray, O'Brien, S..."
Western Victoria,6,"{HAR, other, Raine, Ray, YPA, hockingstuart}"

In [28]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

In [46]:
melb_df.groupby(by='Rooms')['Price'].mean().sort_values(ascending=False)  #наибольшая средняя цена строений с 7 комнатами

Rooms
7     1.920700e+06
5     1.870260e+06
6     1.849366e+06
8     1.602750e+06
4     1.445282e+06
3     1.076081e+06
10    9.000000e+05
2     7.750812e+05
1     4.338245e+05
Name: Price, dtype: float64

In [48]:
melb_df.groupby(by='Regionname')['Lattitude'].std().sort_values(ascending=False)  #наименьшая протяженность региона по широте

Regionname
Eastern Victoria              0.147067
Northern Victoria             0.084455
South-Eastern Metropolitan    0.073411
Western Metropolitan          0.051251
Northern Metropolitan         0.049639
Eastern Metropolitan          0.047890
Southern Metropolitan         0.043080
Western Victoria              0.011579
Name: Lattitude, dtype: float64

In [64]:
melb_df[(pd.to_datetime('2017.05.01')<=melb_df['Date'])
        & (melb_df['Date']<=pd.to_datetime('2017.09.01'))
        ].groupby(by='SellerG')['Price'].sum().sort_values(ascending=False)

SellerG
Jellis           414121833.0
Nelson           379767500.0
other            365038432.0
Barry            296723050.0
hockingstuart    282834310.0
Marshall         253957888.0
Ray              249572986.0
Buxton           219104000.0
Biggin           110429500.0
Fletchers        108847700.0
Noel              88129800.0
Woodards          85977500.0
Greg              85621000.0
McGrath           78386500.0
Harcourts         68720250.0
Jas               59281600.0
Brad              55955000.0
RT                50498000.0
Kay               48569500.0
Miles             47582000.0
YPA               46354350.0
Hodges            43231000.0
Gary              39138400.0
Sweeney           36882750.0
Stockdale         35409800.0
Raine             30687700.0
RW                29261000.0
Village           26473000.0
HAR               25568000.0
O'Brien           23855508.0
Purplebricks      23401000.0
Love              23365500.0
Williams          23297000.0
Chisholm          23225000.0
Philip            22051800.0
Collins           20217000.0
Eview             19791500.0
C21               19515000.0
Buckingham        19033000.0
Douglas           18341000.0
Nick              16890000.0
Rendina           15422276.0
McDonald          14637500.0
Alexkarbon        10985000.0
Bells              8656000.0
Thomson            8332000.0
Moonee             7328000.0
Burnham            4550500.0
Cayzer             4439000.0
LITTLE             2742000.0
Name: Price, dtype: float64