In [9]:
import pandas as pd
# melb_data =pd.read_csv('data/melb_data.csv', sep=',')
student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [10]:
student_data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [13]:
round(student_data[student_data['test preparation course']=='completed']['reading score'].mean())

74

In [17]:
student_data[student_data['math score']==0].shape[0]

1

In [19]:
ball_1 = round(student_data[student_data['lunch']=='standard']['math score'].mean())
ball_2 = round(student_data[student_data['lunch']=='free/reduced']['math score'].mean())
display(ball_1, ball_2)

70

59

In [26]:
round(student_data['parental level of education'].value_counts(normalize=True) * 100)

some college          23.0
associate's degree    22.0
high school           20.0
some high school      18.0
bachelor's degree     12.0
master's degree        6.0
Name: parental level of education, dtype: float64

In [31]:
ball_median = student_data[student_data['race/ethnicity']=='group A']['writing score'].median()
ball_mean = student_data[student_data['race/ethnicity']=='group C']['writing score'].mean()

display(round(ball_median - ball_mean))

-6